In [226]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import r2_score

In [227]:
data = pd.read_csv('C:/Users/JC88Main/Week4/Day1/Lab1/lab-cleaning-numerical-data-master/files_for_lab/we_fn_use_c_marketing_customer_value_analysis.csv')
data

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,Location Code,Marital Status,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,Suburban,Married,69,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,Suburban,Single,94,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,Suburban,Married,108,18,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,Suburban,Married,106,18,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,Rural,Single,73,12,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,Urban,Married,73,18,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,Suburban,Divorced,79,14,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,Suburban,Single,85,9,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,Suburban,Married,96,34,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,Suburban,Single,77,3,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In this final lab, we will model our data. Import sklearn train_test_split and separate the data.

In [228]:
PE8_header = []
def change_titles(df):
    for i in df.columns:
        x = i.lower().replace(' ','_')
        PE8_header.append(x)
        
    df.columns = PE8_header
    display(df.head())
    
change_titles(data)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,Suburban,Married,69,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,Suburban,Single,94,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,Suburban,Married,108,18,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,Suburban,Married,106,18,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,Rural,Single,73,12,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [229]:
def renew_offer_clean(text):
    return text.replace("Offer", '')

In [230]:
data['renew_offer_type'] = data['renew_offer_type'].apply(renew_offer_clean)

In [231]:
data['effective_to_date']=pd.to_datetime(data['effective_to_date'])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer                       9134 non-null   object
 1   state                          9134 non-null   object
 2   customer_lifetime_value        9134 non-null   float64
 3   response                       9134 non-null   object
 4   coverage                       9134 non-null   object
 5   education                      9134 non-null   object
 6   effective_to_date              9134 non-null   datetime64[ns]
 7   employmentstatus               9134 non-null   object
 8   gender                         9134 non-null   object
 9   income                         9134 non-null   int64
 10  location_code                  9134 non-null   object
 11  marital_status                 9134 non-null   object
 12  monthly_premium_auto           9134 non-null   int64
 13  months_since_last_claim        9134 non-null   int64
 14  months_since_policy_inception  9134 non-null   int64
 15  number_of_open_complaints      9134 non-null   int64
 16  number_of_policies             9134 non-null   int64
 17  policy_type                    9134 non-null   object
 18  policy                         9134 non-null   object
 19  renew_offer_type               9134 non-null   object
 20  sales_channel                  9134 non-null   object
 21  total_claim_amount             9134 non-null   float64
 22  vehicle_class                  9134 non-null   object
 23  vehicle_size                   9134 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(6), object(15)
memory usage: 1.7+ MB

In [232]:
data['renew_offer_type'] = data['renew_offer_type'].astype('int')

In [235]:
data['effective_to_date']=pd.to_datetime(data['effective_to_date'])

In [239]:
X = data.drop(["customer", "total_claim_amount"], axis = 1)
y = data["total_claim_amount"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.22, random_state = 22)

We will start with removing outliers, if you have not already done so. We have discussed different methods to remove outliers. Use the one you feel more comfortable with, define a function for that. Use the function to remove the outliers and apply it to the dataframe.

In [240]:
iqr = np.nanpercentile(data['customer_lifetime_value'],75) - np.nanpercentile(data['customer_lifetime_value'],25)
upper_limit = np.nanpercentile(data['customer_lifetime_value'],75) + 1.5*iqr
print(upper_limit)

extraordinary_points = data[data['customer_lifetime_value'] > upper_limit]
len(extraordinary_points)

16414.039911750002

817

In [241]:
data_timelag_outliers_dropped = data[data['customer_lifetime_value'] <= upper_limit].copy()

In [242]:
iqr = np.nanpercentile(data['total_claim_amount'],75) - np.nanpercentile(data['total_claim_amount'],25)
upper_limit = np.nanpercentile(data['total_claim_amount'],75) + 1.5*iqr
print(upper_limit)

extraordinary_points = data[data['total_claim_amount'] > upper_limit]
len(extraordinary_points)

960.3997301249999

453

In [244]:
data_timelag_outliers_dropped = data[data['total_claim_amount'] <= upper_limit].copy()

Create a copy of the dataframe for the data wrangling.

In [245]:
X_train_num = X_train.select_dtypes(np.number)
X_train_cat = X_train.select_dtypes("object")

X_test_num = X_test.select_dtypes(np.number)
X_test_cat = X_test.select_dtypes("object")

Normalize the continuous variables. You can use any one method you want.

In [246]:
X_train_num.head()

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,renew_offer_type
403,3538.059456,0,67,12,67,5,7,4
8139,8609.158215,79090,107,2,74,0,3,2
2639,2530.705137,89451,63,11,2,0,1,2
2570,4271.200049,26245,110,6,43,0,1,4
6715,2397.036098,22283,65,16,93,0,1,1

In [247]:
cont_scaler = MinMaxScaler().fit(X_train_num)
X_train_num_cont = cont_scaler.transform(X_train_num)
X_train_num_cont = pd.DataFrame(X_train_num_cont, columns = X_train_num.columns)

X_test_num_cont = cont_scaler.transform(X_test_num)
X_test_num_cont = pd.DataFrame(X_test_num_cont, columns = X_test_num.columns)

In [248]:
X_train_num_cont

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,renew_offer_type
0,0.024846,0.000000,0.025316,0.342857,0.676768,1.0,0.750,1.000000
1,0.101670,0.791209,0.194093,0.057143,0.747475,0.0,0.250,0.333333
2,0.009585,0.894859,0.008439,0.314286,0.020202,0.0,0.000,0.333333
3,0.035952,0.262552,0.206751,0.171429,0.434343,0.0,0.000,1.000000
4,0.007560,0.222917,0.016878,0.457143,0.939394,0.0,0.000,0.000000
...,...,...,...,...,...,...,...,...
7119,0.152766,0.215224,0.004219,0.000000,0.595960,0.0,0.125,0.000000
7120,0.012022,0.331169,0.037975,0.285714,0.232323,0.2,0.000,0.333333
7121,0.089505,0.237152,0.029536,0.028571,0.565657,0.2,0.125,0.666667
7122,0.077583,0.268165,0.008439,0.914286,0.191919,0.0,0.125,0.000000
7123,0.009493,0.000000,0.029536,0.314286,0.818182,0.6,0.000,0.000000

Encode the categorical variables (See the hint below for encoding categorical data!!!)

In [249]:
X_train_cat.head()

,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,policy,sales_channel,vehicle_class,vehicle_size
403,Arizona,No,Basic,College,Unemployed,F,Suburban,Single,Personal Auto,Personal L2,Call Center,Four-Door Car,Medsize
8139,Arizona,Yes,Basic,Bachelor,Employed,F,Urban,Married,Personal Auto,Personal L3,Branch,SUV,Medsize
2639,Nevada,Yes,Basic,Bachelor,Employed,F,Rural,Single,Personal Auto,Personal L3,Web,Four-Door Car,Medsize
2570,Nevada,No,Premium,Master,Employed,F,Rural,Single,Personal Auto,Personal L3,Call Center,Two-Door Car,Medsize
6715,Arizona,Yes,Basic,High School or Below,Retired,F,Suburban,Divorced,Special Auto,Special L3,Branch,Four-Door Car,Medsize

In [251]:
#Will use One Hot Encoder and ordinal as suggested

X_train_cat_ohe = X_train_cat[["state", "response", "gender", "marital_status", "policy_type", "sales_channel", "vehicle_class"]]
X_train_cat_ord = X_train_cat.drop(columns = ["state", "response", "gender", "marital_status", "policy_type", "sales_channel", "vehicle_class"], axis = 1)

X_test_cat_ohe = X_test_cat[["state", "response", "gender", "marital_status", "policy_type", "sales_channel", "vehicle_class"]]
X_test_cat_ord = X_test_cat.drop(columns = ["state", "response", "gender", "marital_status", "policy_type", "sales_channel", "vehicle_class"], axis = 1)

In [253]:
X_train_cat_ohe = pd.get_dummies(X_train_cat_oh, drop_first = True)
X_test_cat_ohe = pd.get_dummies(X_test_cat_oh, drop_first = True)

In [258]:
X_train_cat_ohe.head()

,state_California,state_Nevada,state_Oregon,state_Washington,response_Yes,gender_M,marital_status_Married,marital_status_Single,policy_type_Personal Auto,policy_type_Special Auto,sales_channel_Branch,sales_channel_Call Center,sales_channel_Web,vehicle_class_Luxury Car,vehicle_class_Luxury SUV,vehicle_class_SUV,vehicle_class_Sports Car,vehicle_class_Two-Door Car
403,0,0,0,0,0,0,0,1,1,0,0,1,0,0,0,0,0,0
8139,0,0,0,0,1,0,1,0,1,0,1,0,0,0,0,1,0,0
2639,0,1,0,0,1,0,0,1,1,0,0,0,1,0,0,0,0,0
2570,0,1,0,0,0,0,0,1,1,0,0,1,0,0,0,0,0,1
6715,0,0,0,0,1,0,0,0,0,1,1,0,0,0,0,0,0,0

In [256]:
X_train_cat_ord.head()

,coverage,education,employmentstatus,location_code,policy,vehicle_size
403,Basic,College,Unemployed,Suburban,Personal L2,Medsize
8139,Basic,Bachelor,Employed,Urban,Personal L3,Medsize
2639,Basic,Bachelor,Employed,Rural,Personal L3,Medsize
2570,Premium,Master,Employed,Rural,Personal L3,Medsize
6715,Basic,High School or Below,Retired,Suburban,Special L3,Medsize

In [260]:
#Will concat all data

X_train_cat_encoded = pd.concat([X_train_cat_ohe, X_train_cat_ord], axis = 1).reset_index()
X_test_cat_encoded = pd.concat([X_test_cat_ohe, X_test_cat_ord], axis = 1).reset_index()

X_train_cat_encoded = X_train_cat_encoded.drop(columns = X_train_cat_encoded.columns[0], axis = 1)
X_test_cat_encoded = X_test_cat_encoded.drop(columns = X_test_cat_encoded.columns[0], axis = 1)

X_train_cat_encoded.head()

,state_California,state_Nevada,state_Oregon,state_Washington,response_Yes,gender_M,marital_status_Married,marital_status_Single,policy_type_Personal Auto,policy_type_Special Auto,sales_channel_Branch,sales_channel_Call Center,sales_channel_Web,vehicle_class_Luxury Car,vehicle_class_Luxury SUV,vehicle_class_SUV,vehicle_class_Sports Car,vehicle_class_Two-Door Car,coverage,education,employmentstatus,location_code,policy,vehicle_size
0,0,0,0,0,0,0,0,1,1,0,0,1,0,0,0,0,0,0,Basic,College,Unemployed,Suburban,Personal L2,Medsize
1,0,0,0,0,1,0,1,0,1,0,1,0,0,0,0,1,0,0,Basic,Bachelor,Employed,Urban,Personal L3,Medsize
2,0,1,0,0,1,0,0,1,1,0,0,0,1,0,0,0,0,0,Basic,Bachelor,Employed,Rural,Personal L3,Medsize
3,0,1,0,0,0,0,0,1,1,0,0,1,0,0,0,0,0,1,Premium,Master,Employed,Rural,Personal L3,Medsize
4,0,0,0,0,1,0,0,0,0,1,1,0,0,0,0,0,0,0,Basic,High School or Below,Retired,Suburban,Special L3,Medsize

The time variable can be useful. Try to transform its data into a useful one. Hint: Day week and month as integers might be useful.

In [267]:
X['effective_to_date'] = X['effective_to_date'].astype(str).str.replace('-', '')

In [268]:
X["effective_to_date"] = X["effective_to_date"].str.replace("-","").astype(int)

In [272]:
#Will concat final data

X_train_final = pd.concat([X_train_num_cont, X_train_cat_encoded], axis = 1)
X_test_final = pd.concat([X_test_num_cont, X_test_cat_encoded], axis = 1)

In [273]:
X_train_final.head()

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,renew_offer_type,state_California,state_Nevada,state_Oregon,state_Washington,response_Yes,gender_M,marital_status_Married,marital_status_Single,policy_type_Personal Auto,policy_type_Special Auto,sales_channel_Branch,sales_channel_Call Center,sales_channel_Web,vehicle_class_Luxury Car,vehicle_class_Luxury SUV,vehicle_class_SUV,vehicle_class_Sports Car,vehicle_class_Two-Door Car,coverage,education,employmentstatus,location_code,policy,vehicle_size
0,0.024846,0.000000,0.025316,0.342857,0.676768,1.0,0.75,1.000000,0,0,0,0,0,0,0,1,1,0,0,1,0,0,0,0,0,0,Basic,College,Unemployed,Suburban,Personal L2,Medsize
1,0.101670,0.791209,0.194093,0.057143,0.747475,0.0,0.25,0.333333,0,0,0,0,1,0,1,0,1,0,1,0,0,0,0,1,0,0,Basic,Bachelor,Employed,Urban,Personal L3,Medsize
2,0.009585,0.894859,0.008439,0.314286,0.020202,0.0,0.00,0.333333,0,1,0,0,1,0,0,1,1,0,0,0,1,0,0,0,0,0,Basic,Bachelor,Employed,Rural,Personal L3,Medsize
3,0.035952,0.262552,0.206751,0.171429,0.434343,0.0,0.00,1.000000,0,1,0,0,0,0,0,1,1,0,0,1,0,0,0,0,0,1,Premium,Master,Employed,Rural,Personal L3,Medsize
4,0.007560,0.222917,0.016878,0.457143,0.939394,0.0,0.00,0.000000,0,0,0,0,1,0,0,0,0,1,1,0,0,0,0,0,0,0,Basic,High School or Below,Retired,Suburban,Special L3,Medsize

In [274]:
X_test_final.head()

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,renew_offer_type,state_California,state_Nevada,state_Oregon,state_Washington,response_Yes,gender_M,marital_status_Married,marital_status_Single,policy_type_Personal Auto,policy_type_Special Auto,sales_channel_Branch,sales_channel_Call Center,sales_channel_Web,vehicle_class_Luxury Car,vehicle_class_Luxury SUV,vehicle_class_SUV,vehicle_class_Sports Car,vehicle_class_Two-Door Car,coverage,education,employmentstatus,location_code,policy,vehicle_size
0,0.604308,0.466052,0.244726,0.971429,0.747475,0.4,0.125,0.000000,0,0,1,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,Premium,High School or Below,Employed,Suburban,Personal L3,Medsize
1,0.107691,0.000000,0.105485,0.542857,1.000000,0.2,0.125,0.000000,1,0,0,0,0,1,1,0,1,0,0,0,1,0,0,0,0,0,Extended,College,Unemployed,Suburban,Personal L3,Medsize
2,0.114607,0.696812,0.240506,0.285714,0.505051,0.0,0.750,0.000000,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,Basic,College,Employed,Suburban,Corporate L3,Small
3,0.332804,0.000000,0.084388,0.771429,0.939394,0.2,0.125,0.666667,1,0,0,0,0,0,1,0,1,0,1,0,0,0,0,0,0,0,Extended,High School or Below,Unemployed,Suburban,Personal L2,Medsize
4,0.026463,0.825092,0.122363,0.028571,0.696970,0.0,0.000,0.333333,0,1,0,0,1,0,1,0,1,0,0,0,0,0,0,0,0,1,Extended,High School or Below,Employed,Suburban,Personal L3,Large

Since the model will only accept numerical data, check and make sure that every column is numerical, if some are not, change it using encoding.

Try a simple linear regression with all the data to see whether we are getting good results.

In [288]:
#can't find solution for this error and this is the second time I restart this lab, decide to continue anyway.

lr = LinearRegression()
lr.fit(X_train_final, y_train)

y_pred_train = lr.predict(X_train_final)
y_pred_test = lr.predict(X_test_final)

ValueError: could not convert string to float: 'Basic'

Great! Now define a function that takes a list of models and train (and tests) them so we can try a lot of them without repeating code.

In [278]:
#uff

def model_test(models, X_train, y_train, X_test, y_test):
    for model in models:
        model.fit(X_train, y_train)
        y_pred_train = model.predict(X_train)
        y_pred_test = model.predict(X_test)
        print("Train score of model {} is {:.2f}".format(model, r2_score(y_train, y_pred_train)))
        print("Test score of model {} is {:.2f}".format(model, r2_score(y_test, y_pred_test)))

Use the function to check LinearRegressor and KNeighborsRegressor.

In [282]:
models = []

for x in range(2,10):
    neigh_model = KNeighborsRegressor(n_neighbors = x)
    models.append(neigh_model)

In [283]:
models

[KNeighborsRegressor(n_neighbors=2),
 KNeighborsRegressor(n_neighbors=3),
 KNeighborsRegressor(n_neighbors=4),
 KNeighborsRegressor(),
 KNeighborsRegressor(n_neighbors=6),
 KNeighborsRegressor(n_neighbors=7),
 KNeighborsRegressor(n_neighbors=8),
 KNeighborsRegressor(n_neighbors=9)]

You can check also the MLPRegressor for this task!

In [284]:
regr1 = MLPRegressor(random_state = 22, solver = "lbfgs")
regr2 = MLPRegressor(random_state = 22, solver = "adam")

Check and discuss the results.